<meta charset="utf-8">
	
<title>Traductor Código Morse</title>

<link href="https://fonts.googleapis.com/css?family=Cute+Font&display=swap" rel="stylesheet">	
	
 <!-- Bootstrap core CSS para TODOS los sitios y si no no te funca un carajo -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <!-- Bootstrap core CSS -->
<link href="/docs/4.3/dist/../css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<!-- Custom styles for this template -->
<link href="/morse-list.component.css" rel="stylesheet" type="text/css">
	

	
	
	
<body>
<main role="main">
	<br>
	<br>
	<br>
	
	
  <section class="jumbotron text-center">
    <div class="container1">
        <h1>Emulador Morse Online</h1>
        <ul> 
        <li>Pulsar el boton para iniciar un pulso morse, volver a pulsar para frenarlo.</li>
      
        <li>Tras 6 segundos de inactividad finaliza el mensaje y los resultados serán expuestos.</li>
        
        </ul>
        
       
      <form> 
      <div class="row" >

                <div class="col-md-4 mb-3">
                  <label for="bin">Binario</label>
                  <textarea rows="1" readonly>{{bin}}</textarea>
                </div>
            
              <div class="col-md-4 mb-3">
                  <label for="Morse">Morse</label>
                  <textarea rows="1" readonly>{{morses.morse}}</textarea>
                  
                </div>

               

                <div class="col-md-4 mb-3">
                  <label for="es">Texto</label>
                  <textarea rows="1" readonly>{{morses.human}}</textarea>
                  
                </div>
                
            </div>
             <div class="row" >
                 <div class="col-md-4 mb-3">
                    <label for="es"></label>

                    
                  </div>
               <div id="botones" > 
                
                  <input name="Pulsar" type="button" id="pulsar" (click)='observerTimer()' (click)='isPressed=isPressed+1'  style="float: right;"  value="">
                
                </div>  
                
            </div>  
          </form>
          
        </div>
    
  </section>
</main>
	
<footer class="text-muted">
  <div class="container">
    <!--<p class="float-right">
      <a href="#">Back to main site</a>
    </p>-->
    <p class="mt-5 mb-3 text-muted text-center">&copy; <a href="#">2020 Luis Vinci</a> </p>
  </div>
</footer>
	  
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>